body{
    margin: 0;
    background-color: rgb(12, 7, 66);
}
section{
    height: 100%;
    width: 100%;
    background-image: url('404.jpg');
    background-repeat: no-repeat;
    background-size: contain;

}
.button{
    width: 200px;
    height: 100px;
    background-color: rgb(145, 136, 163);
    border: none;
    border-radius: 10%;
    margin-top: 40%;
    margin-left: 45%;
    

}
a{
    text-decoration: none;
    color: aliceblue;
}